/* Text */
body{
    font-family: 'Poppins', sans-serif;
}

/* Nav General */

.customNav {
    position: fixed;
    width: 100%;
    background: url("../images/transparency.svg");
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
    font-weight: bold;
  }

  .customNav a{
      color: rgba(242, 242, 242, 0.79) !important;
  }

  .customNav a:active{
  color: white !important;
  }

  .customNav a:hover{
    color: #C0BDD9!important;
}
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    padding-right: 15px;
    width: 243;
    height: 48;
    padding: 2%;
  }
  .nav-item {
    margin: 0px 17px;
  }
  
  /* Jumbotron */

  .cover{
      display: flex;
      flex-direction: row;
      background-image: linear-gradient(to bottom,rgba(32, 75, 115, 0.70), rgba(32, 75, 115, 0.70)),
      url("../images/naacoverimg.png");
      background-repeat: no-repeat;
      background: cover;
      align-items: center;
      padding: 20px;
      margin-bottom: 80px;
      color: white;
      height: 780px;
      flex-direction: row;
      transition: all 1s ease; 
  }

  .cover img{
      width: 100%;
  }

  .content h1{
      font-weight: bolder;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 42px;
  }
  .content p{
      font-size: 24px;
  }
.custompill{
    font-size: 14px;
    margin-top: 40px;
    margin-right: 40px;
    background: rgba(255, 255, 255, 0.45);
    color: white;
    padding: 2%;
    font-weight:500;
}

/* Overview */

.overview{
    display: flex;
    flex-direction: row;
}

.overview h1{
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

.title h1{
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    align-self: center;
}

.title{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center; 
    margin-bottom: 40px;
}

.overviewContent h3{
    font-weight: bold;
}
.overviewContent p{
    font-size: 24;
    line-height: 33px;
    font-weight: lighter;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.icon img{
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

.highlight{
    font-weight:700;
}

/* Design Process */

.DesignProcess{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    align-content: center;
    justify-content: center;

}   
.customdp{
    background-color: rgba(32, 75, 115, 0.53); 
    width: 100%;
    margin-top: 50px;
    padding: 2%;
}

.dpcontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.dpcontent img{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5%;
}

.dpcontent p{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    color: white;
}

.titledp h1{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    align-self: center;
    margin-top: 60px;
    color: white;
}

/* Empathize */

.titlemp h1{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    align-self: center;
    margin-top: 60px;
}
.empcontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.empcontent img{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5%;
}

.empcontent h3{
    font-weight: bold;
    text-align: start;
    justify-items: start;
    padding: 1%;
}

.empcontent p{
    font-size: 20px;
    padding: 1%;
    font-weight: 200;
}

/* User Path */

.upcontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.customup{
    background-color: rgba(192, 189, 217, 0.51)}

.upcontent p{
    font-size: 20px;
    padding: 0.5%;
    font-weight: 200;
    margin-top: 56px;
    margin-bottom: 56px;
    width: 80%;
}

.sub {
    font-size: 15px !important;
    font-weight: 200;
    color: gray;
    justify-items: center;
    text-align: center;
    margin-top: 40px;
}

p.sub{
    margin-top: 40px;
}

/* Heuristics  */
.customhe{
    background-color: white}


.hecontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.hecontent p{
    font-size: 20px;
    padding: 0.5%;
    font-weight: 200;
    margin-top: 56px;
    margin-bottom: 56px;
    width: 80%;
}

p.sub{
    margin-top: 32px;
}

/* Usability Testing */
.customut{
    background-color: rgba(137, 160, 181, 1)}

.utcontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.utcontent p{
    font-size: 20px;
    padding: 0.5%;
    font-weight: 200;
    margin-top: 56px;
    margin-bottom: 56px;
    width: 80%;
    color: white;
}

.imgUt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgUt img{
    padding: 2%;
}

/* Priority Matrix */
.pmcontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.pmcontent img{
    padding: 5%;
    margin: 44px;
}

.pmcontent p{
    font-size: 20px;
    padding: 0.5%;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 56px;
    width: 80%;
    color: white;
}

/* Define */

.dcontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.dcontent p{
    font-size: 20px;
    padding: 0.5%;
    font-weight: 200;
    margin-top: 56px;
    margin-bottom: 56px;
    width: 80%;
}   

.titlede h1{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    align-self: center;
    margin-top: 32px;
    margin-bottom: 80px;
} 

/* Problem Statement */

.pscontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.customps{
    background: linear-gradient(90deg, rgba(218, 185, 228, 0.8) 1.69%, rgba(218, 185, 228, 0.8) 27.14%, rgba(244, 241, 255, 0.8) 71.76%);
    padding: 2%;
}

/* Information Archi */

.iacontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
} 

.iacontent h3{
    font-weight: bold;
    text-align: start;
    justify-items: start;
    padding: 1%;
}

.iacontent p{
    font-size: 20px;
    padding: 0.5%;
    font-weight: 200;
    margin-top: 56px;
    margin-bottom: 56px;
    width: 80%;
}  

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card1 p{
    margin-bottom: 12px;
}

.card1 img{
    margin-bottom: 70px;
}

/* SiteMap */

.smcontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.smcontent p{
    font-size: 20px;
    padding: 0.5%;
    font-weight: 200;
    margin-top: 56px;
    margin-bottom: 56px;
    width: 80%;
}  

.customsm{
    background-color: rgba(243, 243, 243, 1);
}

/* Ideate */

.idcontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.idcontent p{
    font-size: 20px;
    padding: 0.5%;
    font-weight: 300;
    margin-top: 56px;
    margin-bottom: 56px;
    width: 80%;
    color: rgba(32, 75, 115, 1);
}  

.idcontent img{
    margin-top: 56px;
}

.customid{
    background-color:rgba(32, 75, 115, 0.26);
}

.sub2 {
    font-size: 15px !important;
    font-weight: 200;
    color: white !important;
    justify-items: center;
    text-align: center;
}

p.sub2{
    margin-top: 12px;
}

/* Prototype */

.prcontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.prcontent p{
    font-size: 20px;
    padding: 0.5%;
    font-weight: 300;
    margin-top: 56px;
    margin-bottom: 56px;
    width: 80%;
}
.custompr{
    background-color: white;
}
.wireframe h3{
    font-weight: bold;
    text-align: center;
    margin-bottom: 56px;
    margin-top: 72px;
    color: #204B73;
}

.wireframe img{
    margin-bottom: 10px;
}

.wireframe{
    margin-bottom: -56px;
}

.prcontent img{
    margin: 5%;
}

/* Test */

.tscontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.tscontent p{
    font-size: 20px;
    padding: 0.5%;
    font-weight: 300;
    margin-top: 56px;
    margin-bottom: 56px;
    width: 80%;
    color: white;
    text-align: center;
}
.customts{
    background-color: rgba(41, 80, 117, 1);
}

.tscontent img{
    margin-top: 64px;
}

.feedback1{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.feedback1 img{
    padding: 2%;
}

.feedback2{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.feedback2 img{
    padding: 1.5%;
}

/* Usability Testing */

.ubcontent{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
   justify-content: center;
}

.ubcontent p{
    font-size: 20px;
    padding: 0.5%;
    font-weight: 300;
    margin-top: 56px;
    margin-bottom: 56px;
    width: 80%;
    color: #204B73;
    align-items: center;
}

.titleub h1{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    align-self: center;
    margin-top: 60px;
    color: #204B73;
}

.imgUb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.imgUb img{
    padding: 2%; 
    margin: 3%;
}
 
.imggf img{
    height: 404px;
    width: 650px; 
    margin: 1%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 70px;
}

/* Interactive Prototype */

.ipcontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.ipcontent p{
    font-size: 20px;
    padding: 1%;
    font-weight: 200;
    margin-top: 56px;
    margin-bottom: 56px;
    width: 80%;
    line-height: 40px;
}

.ipcontent img{
    height: 800px;
}

.proto img {
    height: 728px;
    padding: 5%;
    margin: 5%;
}

.images2{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.proto{
    margin: 3%;
}


/* Next steps */

.customkt{
    background-color:#F9EDFD;
}

.ktcontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.ktcontent p{
    font-size: 20px;
    padding: 1%;
    font-weight: 200;
    margin-top: 48px;
    margin-bottom: 56px;
    width: 80%;
    line-height: 40px;
}

.npContent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: flex-start;
    padding: 3%;
}

.npContent p{
    font-size: 20px;
    /* padding: 1%; */
    font-weight: 200;
    /* margin-top: 56px; */
    margin-bottom: 56px;
    line-height: 40px;
}
.icon2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.icon2 img{
    margin-left: 50px;
}
/* Learn More */

.lmcontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.lmcontent h3{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 56px;
}

button{
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 38px;
    background: #DAB9E4;
    border-radius: 40px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
    }

/* Footer */

footer{
    background-color: #000000;
    color: white;
    text-align: justify;
    font-family: 'Poppins','sans-serif'; 
    margin-top: 100px; 
    display: flex;
    padding: 1%;
    justify-content: center;
    font-weight:100;
}
#AG{
    width: 100px !important;
    /* padding: 40px; */
    align-content: center ;
    justify-items: flex-end;
    display: flex;
}

#AG img{
width: 180px;
height: 140px;
}

.logos{
    display: flex;
    align-items:center;
    width: 180px;

}

.centre{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items:center;
    justify-content: center;
    /* margin: 0 auto; */
    margin-left: 12%;
}

.icons {
    display: flex;
    padding:2%;
    width: 25%;
    flex-direction: ROW;
    justify-content: center;
    position: relative;
  }

.icons img:hover {
    filter: invert(0.5) sepia(1) hue-rotate(215deg);   
  }

.icons img {
    padding: 5%;
    justify-content: center;
    margin: 0 16px; 
}

.boxfooter{
    flex-direction: row;
    justify-content: center;
}

footer h1{
    color: #DAB9E4;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 24.9px;
    margin-top: 24.9px;
}

.copyright p{
    font-size: 12px;
}

.wave{
    width: 100%;
    background: cover;
}

.wave img{
    width: 100%;
    object-fit: cover;
}